:root {
  --peach: #f86449;
  font-size: 62.5%;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif;
}
::selection {
  background-color: #fc8cac;
}
body::-webkit-scrollbar {
  width: 1.5rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 1.6rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #fc8cac;
  border-radius: 1.6rem;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 12vh;
  background: #272727;
  font-family: "Titillium Web", sans-serif;
  font-size: 1.5rem;
  z-index: 10;
}

#navbar ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 40%;
}

#open,
#close {
  display: none;
}
.mobile-menu-icons {
  cursor: pointer;
}

nav a,
nav a:visited {
  text-decoration: none;
  color: #fff;
}

.section-title {
  color: #fc8cac;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.8rem;
}

#welcome-section {
  position: relative;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  background: linear-gradient(106deg, #fc8cac, #7cabae, #eeeeee);
  background-size: 180% 180%;
  color: #fff;
  animation: gradient-animation 10s ease infinite;
  width: 100%;
  height: 100vh;
}
details {
  font-size: 1.6rem;
  width: 50%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  overflow-y: auto;
}
details::-webkit-scrollbar {
  width: 0.5rem;
}

details::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 1.6rem;
}

details::-webkit-scrollbar-thumb {
  background-color: #fc8cac;
  outline: 1px solid slategrey;
  border-radius: 1.6rem;
}
details summary {
  text-align: center;
  cursor: pointer;
}

#intro-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#intro-box img {
  display: block;
  border-radius: 50%;
}

#intro-box h1 {
  font-family: "Roboto Slab", serif;
  font-size: 3.4rem;
}

#role {
  font-size: 2.8rem;
  border-bottom: 3px solid #fff55a;
}

#projects {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;

  text-align: center;
  align-items: center;
}

.project-container {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;
}

.project-container a {
  text-decoration: none;
  color: #45b29a;
}

.project-item {
  width: 24rem;
  height: 26rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  overflow: hidden;
  border-radius: 1.6rem;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}
.project-item img {
  display: block;
  height: 22rem;
  max-width: 100%;
}
.project-item h4 {
  font-size: 1.6rem;
  margin-top: 5px;
}
#more-projects {
  justify-content: center;
}
#more-projects button {
  border: 0px;
  border-radius: 2rem;
  padding: 10px 20px;
  background-color: #45b29a;
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

.contact-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 30px;
  margin: 30px 60px;
  justify-content: space-evenly;
  font-size: 50px;
}

.contact-container a,
.contact-container a:visited {
  color: #45b29a;
}

footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: rgba(206, 243, 237, 0.877);
  color: rgb(66, 63, 63);
  font-size: 1.2rem;
}

@media only screen and (max-width: 768px) {
  #navbar {
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    background: rgb(39, 39, 39);
    font-family: "Titillium Web", sans-serif;
  }
  #navbar #nav-links {
    display: none;
  }
  .mobile-menu-icons {
    margin-top: 1rem;
    /* margin-right: 2rem; */
  }
  #nav-links li {
    padding: 10px 5px;
    background-color: rgb(39, 39, 39, 0.1);
  }

  #open {
    display: block;
  }
  #welcome-section {
    height: 80vh;
  }
  #intro-box h1 {
    font-family: "Roboto Slab", serif;
    font-size: 2.5rem;
  }
  #role {
    font-size: 2rem;
  }
}
